<li id="dir_ltr" onClick="window.frames[1].window.frames[0].document.body.style.direction='ltr';return false;" >
    <a title="Left to right">
        <span class="bidi-button">ltr</span>
    </a>
</li>
<li id="dir_rtl" onClick="window.frames[1].window.frames[0].document.body.style.direction='rtl';return false;" >
    <a title="Right to left">
        <span class="bidi-button">rtl</span>
    </a>
</li>
<li class="separator"></li>
